<link rel="stylesheet" href="/css/profile.css">

<nav class="nav-container">
    <div class="nav-logo">
        <div>
            <img src="/images/Habits-Cycle.jpg" alt="task tracker logo" width= "48px" height="48px" />
        </div>
        <div class="nav-heading">Habit Tracker</div>
    </div>
    <form class="user-info">
        <span class="user_name">Hello, <%= Name %>!</span>
        <a href="/" class="logout">Logout</a>
    </form>
</nav>